<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SorteioApp</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="style/styleCss.css"/>
</head>
<body>


<nav>
    <div class="nav-wrapper">
<br>

              <a href="/numeros" class="waves-effect waves-light btn">Buscar
                números gerados</a>

    </div>
</nav>
<br>
<br>
<br>
<br>
<form class="container" method="post">
    E-mail: <input value="" name="email" type="email" class="validate">
    <button class="waves-effect waves-light btn" type="submit"><i class="material-icons left">autorenew</i>Gerar Numero
    </button>

    <h6>Número gerado</h6>
    <div th:each="sorteio : ${sorteio}">
        <div class="row">
            <p><span class="light-green accent-4" th:text="${sorteio.numeroSorteado}"></span></p>
        </div>

    </div>
</form>
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="../static/materialize/js/materialize.min.js"></script>
</body>
</html>